<div class="container">
  <h1>My Apps</h1>

  <div *ngIf="counterElement" class="counter section">
    <span (click)="close()" class="close">X</span>
    <h1>Counter</h1>
    <h1 *ngIf="counter > 0 "[style]="{color: '#f4476b'}">{{counter}}</h1>
    <h1 *ngIf="counter < 0 "[style]="{color: 'blue'}">{{counter}}</h1>
    <h1 *ngIf="counter == 0 "[style]="{color: '#505e6c;'}">{{counter}}</h1>
    <div class="btn-div">
      <button (click)="count('-')" class="btn btn-primary">-</button>
      <button (click)="count('reset')" class="btn btn-primary">Reset</button>
      <button (click)="count('+')" class="btn btn-primary">+</button>
    </div>
  </div>
  
  <div *ngIf="stopwatchElement" class="stopwatch section">
    <span (click)="close()" class="close">X</span>
    <h1>Stopwatch</h1>
    <h1>
      <span *ngIf="minutes < 10">0{{minutes}}</span>
      <span *ngIf="minutes >=10">{{minutes}}</span>
      <span> : </span>
      <span *ngIf="seconds < 10">0{{seconds}}</span>
      <span *ngIf="seconds >=10">{{seconds}}</span>
      <span> : </span>
      <span *ngIf="mSeconds < 10">0{{mSeconds}}</span>
      <span *ngIf="mSeconds >=10">{{mSeconds}}</span>
    </h1>
    <div *ngIf="!paused" class="img-div">
      <img src="assets/stopwatch.jpg" alt="">
    </div>
    <div class="btn-div">
      <button (click)="start()" *ngIf="paused" class="btn btn-primary">Start</button>
      <button (click)="start()" *ngIf="!paused" class="btn btn-primary">Pause</button>
     <button (click)="reset()" class="btn btn-primary">Reset</button>
    </div>
  </div>
  
  <div *ngIf="clockElement" class="clock section">
    <span (click)="close()" class="close">X</span>
    <h1>Clock</h1>
    <div class="btn-div">
      <button  class="btn btn-primary clock-btn">
        <h1>
          <span *ngIf="clockHours < 10">0{{clockHours}}</span>
          <span *ngIf="clockHours >=10">{{clockHours}}</span>
          <span>:</span>
          <span *ngIf="clockMinutes < 10">0{{clockMinutes}}</span>
          <span *ngIf="clockMinutes >=10">{{clockMinutes}}</span>
          <span>:</span>
          <span *ngIf="clockSeconds < 10">0{{clockSeconds}}</span>
          <span *ngIf="clockSeconds >=10">{{clockSeconds}}</span>
        </h1>
      </button>
    </div>
  </div>
  
  <div *ngIf="alarmElement" class="alarm section">
    <span (click)="close()" class="close">X</span>
    <h1>Alarm</h1>
    <h1>
      <span *ngIf="alarmHours < 10">0{{alarmHours}}</span>
      <span *ngIf="alarmHours >=10">{{alarmHours}}</span>
      <span>:</span>
      <span *ngIf="alarmMinutes < 10">0{{alarmMinutes}}</span>
      <span *ngIf="alarmMinutes >=10">{{alarmMinutes}}</span>
    </h1>
    <div *ngIf="ringing" class="ringing">
      <div class="img-div">
        <img src="assets/clock-img.jpg" alt="alarm-clock">
        <div class="btn-div">
          <button (click)="stopAlarm()" class="btn btn-primary">Stop</button>
          <button (click)="sneezeAlarm()" class="btn btn-primary">Sneeze</button>
        </div>
      </div>
    </div>
    <h2>Set Alarm</h2>
    <label for="">Set Hour</label>
    <input [(ngModel)]="alarmHours" type="number" value="alarmHours">
    <label for="">Set Minute</label>
    <input [(ngModel)]="alarmMinutes" type="number" value="alarmMinutes">
  </div>
  
  <div *ngIf="timerElement" class="timer section">
    <span (click)="close()" class="close">X</span>
    <h1>Timer</h1>
    <h1>
      <span *ngIf="timerMinutes < 10">0{{timerMinutes}}</span>
      <span *ngIf="timerMinutes >=10">{{timerMinutes}}</span>
      <span>:</span>
      <span *ngIf="timerSeconds < 10">0{{timerSeconds}}</span>
      <span *ngIf="timerSeconds >=10">{{timerSeconds}}</span>
    </h1>
    <div *ngIf="!timerRinging" class="btn-div">
      <button (click)="startPauseTimer()" *ngIf="timerPaused" class="btn btn-primary">Start</button>
      <button (click)="startPauseTimer()" *ngIf="!timerPaused" class="btn btn-primary">Pause</button>
    </div>
    <div *ngIf="timerRinging" class="ringing">
      <div class="img-div">
        <img src="assets/timer.jpg" alt="sand-clock">
        <div class="btn-div">
          <button (click)="sneezeTimer()" class="btn btn-primary">Sneeze</button>
          <button (click)="resetTimer()" class="btn btn-primary">Reset</button>
        </div>
      </div>
    </div>
    <h2>Set Timer</h2>
    <label for="">Set Minutes</label>
    <input [(ngModel)]="timerMinutes" type="number" value="timerMinutes">
    <label for="">Set Hours</label>
    <input [(ngModel)]="timerSeconds" type="number" value="timerSeconds">
  </div>


  <div class="footer">
    <div class="box-button">
      <h2 (click)="showClicked($event)" id="counter-btn" >Counter</h2>
    </div>
    <div class="box-button">
      <h2 (click)="showClicked($event)" id="stopwatch-btn">Stopwatch</h2>
    </div>
    <div class="box-button">
      <h2 (click)="showClicked($event)" id="clock-btn">Clock</h2>
    </div>
    <div class="box-button">
      <h2 (click)="showClicked($event)" id="alarm-btn">Alarm</h2>
    </div>
    <div class="box-button">
      <h2 (click)="showClicked($event)" id="timer-btn">Timer</h2>
    </div>
  </div>

</div>

